<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Document{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
            <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset("/assets/styles/styles.css") }}">

        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>

    <body>

        {% block body %}



            {% include 'header.html.twig' %}

            {% include 'main.html.twig' %}

            {% include 'footer.html.twig' %}
        {% endblock %}
    </body>
</html>
