

{% block header %}

<div class="wrapper">
    <div class="container-fluid">
        <header class="header">
            <img src="assets/img/logo.svg" alt="Maleteo">
        </header>
    </div>
</div>

{% endblock %}